body{
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/564x/f1/6e/95/f16e9546cffa50bcefed1b65b870e55e.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
